@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}


img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name text-1 text-1 . . image-2 image-2 image-2 ."
    ". . . bio . . . text-3 text-3"
    ". . . . . image-3 image-3 . ."
    ". . . . . image-1 image-1  . ."
    ". . . . . . . . text-2";
    
}   

body {
background-color: rgb(255, 255, 255);
font-family: "helvetica", serif;
font-size: 15px;
}

.name {
    grid-area: name;
}

.name h1 {
color:rgb(0, 0, 0);
font-size: 1rem;
margin: 0;
}


.bio {
    grid-area: bio;
    margin-bottom: 600px;
}

.bio p {
    color:rgb(0, 0, 0);
    margin: 0;
    text-align:right
}



.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
    text-align: left;
}

.text-2 {
    grid-area: text-2;
    font-family: "Aka-AcidGR-RealAdult";

    font-size: 8rem;
}

.text-3 {
    grid-area: text-3;
    text-align: right;
    font-family: "Aka-AcidGR-RealAdult";
    
}