img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name bio"
    "text-1 image-1 image-1 image-1 "
    "text-2 image-2 image-2 image-2"
    "text-3 image-3 image-3 image-3";
}   

body {
background-color: rgb(255, 89, 0);
}

.name {
    grid-area: name;
}

.name h1 {
color:rgb(223, 31, 117);
font-size: 100px;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-style: light;
}

.name h1:hover {
    color: rgb(141, 255, 2);
    font-size: 150px;
    font-style: oblique;
    transition: color 10s ease;
}


.bio {
    grid-area: bio;
}

.bio p {
    color:rgb(0, 0, 0);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: justify;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio p:hover {
    opacity: 0.2;
}


.image-1 {
    grid-area: image-1;
}

.image-1 img{
    transition: transform 0.3s ease;
}

.image-1 img:hover {
    transform: scale(1.5);
}

.image-2 {
    grid-area: image-2;
}

.image-2 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3 ease;
}

.image-2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 5)
}

.image-3 {
    grid-area: image-3;
}

.image-3 img {
    transition: transform 0.5s ease;
}

.image-3 img:hover {
    transform: rotate(360deg);
}
.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}

