@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "image-4 image-4 image-4 image-4 image-4 image-4 image-4  image-4 image-4"
    "name . text-1 text-1 . image-2 image-2 image-2 ."
    ". . . bio . . . text-3 text-3"
    ". image-3 image-3 image-3 . . . . ."
    ". . . . . image-1 image-1  . ."
    ". . . . . . . . text-2";
    
}   

body {
background-color: rgb(255, 255, 255);
font-family: "helvetica", serif;
font-size: 15px;
}

.name {
    grid-area: name;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-style: thin;
}

.name h1 {
color:rgb(0, 0, 0);
font-size: 1rem;
margin: 0;
}


.bio {
    grid-area: bio;
    font-size: 10px;
    margin-bottom: 100px;
}

.bio p {
    color:rgb(0, 0, 0);
    margin: 0;
    text-align:right
}



.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-1 img{
    transition: opacity 0.3s ease;
}

.image-1 .b {
 position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
   
.image-1:hover .a {
 opacity: 0;
}

.image-1:hover .b {
 opacity: 1;
}

.image-2 {
    grid-area: image-2;
    position: relative;
}

.titel {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
    width: 130%;
    text-align:center;

}


.text-1 {
    grid-area: text-1;
    text-align: left;
    position: relative;
    top: 150px;
    z-index: 1;
}

.text-2 {
    grid-area: text-2;
    font-family: "Aka-AcidGR-RealAdult";

    font-size: 8rem;
}

.text-3 {
    grid-area: text-3;
    text-align: right;
    font-family: "Aka-AcidGR-RealAdult";
}


